
  .text-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container h1{
    color: rgba(225,225,225, .01);
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 200s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  @keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 10000%;
    }  
  }